<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Quote</title>
  </head>
  <body>
    <h2>Create New Quote</h2>
    <form action="/quote-in-db" method="post">
      <label for="quote">Quote:</label><br />
      <input type="text" id="quote" name="quote" /><br />
      <label for="book">Book:</label><br />
      <input type="text" id="book" name="book" /><br />
      <label for="author">Author:</label><br />
      <input type="text" id="author" name="author" /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
